.categoryPage {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.layout {
  display: flex;
  gap: 20px;
}

.products {
  display: grid;
  gap: 16px;
  transition: all 0.3s ease;
}

.products.four {
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 20px;
}

.products.three {
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 20px;
  width: 75%;
}

.sidePanel {
  flex: 0 0 400px;
  background: #f7f7f7;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 72px);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  right: 0;
  width: 22%;
  top: 4rem;
}

.sidePanel.near{
  height: calc(109vh - 72px);
  top: -.5rem;
}
.toggle {
  display: flex;
  justify-content: start;
  margin-bottom: 35px;
  padding: 40px 16px 0px;
}

.toggle button {
  position: relative;
  padding: 8px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  text-align: left;
  font-weight: 800;
  background: transparent;
  transition: color 0.3s ease;
  color: #9a9a9a;
}

.toggle button::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background: #212121;
  transition: width 0.3s ease;
}

.toggle button:hover::after {
  width: 80%;
  color: #212121 !important;
}

.active {
  background: transparent;
  color: #212121 !important;
}

.toggle button.active::after {
  width: 80%;
  background: #212121;
}